<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd">

<module configVersion="1.0">
	
	<!-- Basic Module Properties -->
	<id>rgccd</id>
	<name>RG CCD</name>
	<version>1.0.5</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>Vibha Anand</author>
	<description>
			Query the RG web service for a Continuity of care Document (CCD)
			Extract out Medications for now and more things later.
	</description>

	<activator>org.openmrs.module.rgccd.CCDActivator</activator>
	
	<require_version>1.0.0</require_version>
	<require_database_version>1.0.0</require_database_version>
	<require_modules>
   		<require_module version="1.0.11">org.openmrs.module.chirdlutil</require_module>
	</require_modules>

	
	<!-- /Basic Module Properties -->
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.rgccd.extension.html.AdminList</class>
	</extension>
	
	<!-- /Extensions -->

	
	<globalProperty>
		<property>rgccd.convertCCDToHTMLFile</property>
   		<description>XSLT file that converts ccd definition xml into html.
   		There is a file called ccd.xslt in the metadata folder of the module.</description>
	</globalProperty>
	
	<globalProperty>
		<property>rgccd.password</property>
   		<description>password for RG CCD user
   		</description>
	</globalProperty>
	
	<globalProperty>
		<property>rgccd.truststore</property>
   		<description>trust store where RG CCD certificate is
   		</description>
	</globalProperty>
	
	<globalProperty>
		<property>rgccd.truststorepassword</property>
   		<description>password for trust store
   		</description>
	</globalProperty>
	
	<globalProperty>
		<property>rgccd.ccdDirectory</property>
   		<description>Directory to write ccds
   		</description>
	</globalProperty>
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
	</mappingFiles>
</module>